<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
    {{>navbar}}
   
    <div class="conatiner-fluid main_header">
        <div class="">
            <div class="col-mid-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/error.png" alt="Aadirath" class="img-fluid" title="Aadirath">
                        </figure>
                        
                    
                        <p>welcome to Aadirath's Page</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/" ><button>Go back</button></a>

                    </div>
                    
                </div>
                </div>
                </div>
                </div>
           {{>footer}} 
</body>
</html>