<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <div class="conatiner-fluid main_header">
        <div class="">
            <div class="col-mid-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/person.png" alt="Aadirath" class="img-fluid" title="Aadirath">
                        </figure>
                        
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>welcome to weather app</p>
                        <h1>I am a <span class=""text_clr> backend developer</span> and a dsa learner and competetive coder</h1>
                        <a href="https://drive.google.com/file/d/12Gfuc5Auu1X5kt4IqdY8IA18JKLlh4G-/view?usp=share_link/" target="_aadirath"><button>About me</button></a>

                    </div>
                    
                </div>
                </div>
                </div>
                </div>
           {{>footer}} 
</body>
</html>